table {
  display: block;
  width: 100%;
  color: #474955;
  background: white;
  font-size: .8rem;
  border-collapse: collapse;
  margin: .3rem 0;
}
thead {
  display: block;
  color: white;
  background: #474955;
  border: 1px solid #474955;
  box-shadow: 0px 4px 27px rgba(230, 231, 234, 0.78);
}
tbody {
  display: block;
  overflow-y: scroll;
  width: 100%;
  height: 24rem;
}
table thead tr {
  display: block;
}
table th,
table td { 
  /* width: 100px;  */
  min-width: 100px; 
}
td {
  border: 1px solid #eee;
  padding: .5rem;
}
tr {
  height: 3rem;
}
th {
  padding: 1rem .5rem;
}
table tfoot tr {
  display: block;
}
.th-1 {
  width: 10%;
}
.th-2,
.th-3 {
  width: 45%;
}
.column1 {
  text-align: center;
}
.th-wrap {
  display: flex;
  justify-content: center;
}

.arrow-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 2rem;
}
.arrow {
  height: .5rem;
  width: .5rem;
  background-color: #474955;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}
.arrow:after {
  content: '';
  display: block;
}
.arrow:hover {
  cursor: pointer;
}
.asc {
  transform: rotate(45deg);
}
.desc {
  transform: rotate(225deg);
}